<?xml version="1.0" ?>

<model>
  <name>sloped_surface</name> <!-- 模型名称 -->
  <version>1.0</version> <!-- 模型版本 -->
  <sdf version="1.6">model.sdf</sdf> <!-- 引用之前创建的 SDF 文件 -->

  <!-- 作者信息 -->
  <author>
    <name>Liu Chengwei</name>
    <email>445878812a@gmail.com</email>
  </author>

  <description>
    sloped_surface
  </description>
</model>

